*{
  margin: 0;
  padding: 0;
}

html,body{
  height: 100%;
 }

body{
  display: flex;  
  background-color: #007500;        
  flex-direction: column; 
  font-size: 12px;       
  font-family: arial;     
}

header h1{
height:80%;
text-align: center;
font-size: 40px;
height: 60px;
}

.pages-logo
{
margin-top: 10px;
margin-left:1px; 
height:100%;
}

.pages-logo img{
height:500px;
width: 2000px; 
}

.container 
{
	font-size:20px;
}